SUPABASE_URL=https://egpuuwquxnehwozcfega.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVncHV1d3F1eG5laHdvemNmZWdhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzNjQyNzUsImV4cCI6MjA5MTk0MDI3NX0.K05cijgRfOsAucfet6Kr8TRB2u3BtC-qiGuFwpUAE38
